<%= form_with(model: [@property, @application]) do |form| %>
<div class="formInput form-group">
    <h1>New Application</h1>
    <%= form.label :first_name %> 
    <%= form.text_field :first_name %>
  </div>
  <div class="formInput form-group">
    <%= form.label :last_name %> 
    <%= form.text_field :last_name %>
  </div>
  <div class="formInput form-group">
    <%= form.label :age %> 
    <%= form.text_field :age %>
  </div>
  <div class="formInput form-group">
    <%= form.label :occupants %> 
    <%= form.text_field :occupants %>
  </div>
  <div class="formInput form-group">
    <%= form.label :sin %> 
    <%= form.text_field :sin%>
  </div>
  <div class="formInput form-group">
    <%= form.label :phone_number %> 
    <%= form.text_field :phone_number %>
  </div>
  <div class="formInput form-group">
    <%= form.label :content %> 
    <%= form.text_area :content, cols: 50, rows: 5, placeholder:"Whats your question about this property?"%>
  </div>
<%= form.submit "Submit Application", class: "btn btn-outline-primary btn-size-larger btn-mg my-2" %> 
<% end %>
