<nav class="nav-list">
  <ul class="nav-list">
    
    <li class="nav-item"><a href="/properties"> <%= image_tag("shaking_hands.png", class: "logo-img")  %> </a></li> 
    <% if current_user.present? %>    
      <% if is_admin? %> 
        <div class="nav-item"><a href="/properties/new">List A New Property</a></div>                   
        <div class="nav-item"><a href="/admin_panel">Admin Panel</a></div>                   
      <% else %>
        <div class="nav-item"><a href="/customer_panel">Customer Panel</a></div>                          
    <% end %> 
    <% end %> 
    
    <div class="nav-item"><a href="/properties">View All Properties</a></div>

  </ul>
  <br>
  <div class="nav-list">
    
    <li class="nav-item"><%= link_to "Sign Up", new_user_path %></li>  
    <li class="nav-item">
      <% if(user_signed_in?) %> Hello <%= current_user.first_name %> <%=
      button_to "Log Out", session_path, method: :delete %> <% else %> <%=
      link_to "Sign In", new_session_path %> <% end %>
    </li>
  </div>
</nav>
