<% @user.questions.each do |q| %>

  <h4>Question asked: <%= link_to q.question, property_path(q.property.id)%></h4>
  <p>Property name: <%=q.property.name%></p>
  <br>

<% end %>
<br>
<hr>
<div>
  <h4>Pending Application</h4>
  <%@user.applications.each do |application|%>
    <% if application.status == 0 %>
      <p>Applied to: <%=application.property.name%></p>
      <p>Status: <%=application.status%></p>
      <%= link_to "View Property", property_path(application.property.id)%>
    <% end %>
  <% end %>
</div>
<br>
<div>
  <h4>Approved Application</h4>
  <%@user.applications.each do |application|%>
    <% if application.status == 1 %>
      <p>Applied to: <%=application.property.name%></p>
      <p>Status: <%=application.status%></p>
      <%= link_to "View Property", property_path(application.property.id)%>
    <% end %>
  <% end %>
</div>
<br>
<div>
  <h4>Rejected Application</h4>
  <%@user.applications.each do |application|%>
    <% if application.status == 2 %>
      <p>Applied to: <%=application.property.name%></p>
      <p>Status: <%=application.status%></p>
      <%= link_to "View Property", property_path(application.property.id)%>
    <% end %>
  <% end %>
</div>
