<div class="container">
  <div class="show-property">
      <h2><%= @property.name %></h4>
        <p class="text-card"><span class="bold">Property Description: </span><%= @property.description %></p> 
        <p class="show-text"><span class="bold">Property Listing By: </span><%= @property.user.first_name %> <%= @property.user.last_name %>
        <p class="show-text"><span class="bold">Price: </span><%= number_to_currency(@property.price) %></p> 
        <p class="show-text"><span class="bold">Location: </span><%= @property.location %></p> 
        <p class="show-text"><span class="bold">Amenities: </span><%= @property.amenities %></p> 
        <p class="show-text"><span class="bold">Listed At: </span><%= time_ago_in_words @property.created_at %> ago</p> 
        <p class="show-text"><span class="bold">Images: </span></p>
        <%= image_tag(@property.image_url, class: "index-image")%>

    <% if can? :crud, @property %> 
      <div class="btn-pos">
        <%= button_to 'Edit', edit_property_path(@property), method: :get, class: 'btn btn-outline-primary btn-marg mb-4' %> 

        <%= button_to 'Delete', property_path(@property), method: :delete, class: "btn btn-outline-primary btn-marg mb-4", form: {data: {turbo_confirm: "Are you sure?"}} %>  
    </div>
    <% end %>
  </div>  

<%= render 'questions/new_question' %> 

  <ul>
    <% @questions.each do |question| %>
    <li>
      <%= question.question %>
        <div>
          Asked by <%= question.user.first_name %> <%= time_ago_in_words(question.created_at)%> ago
        </div>

        <% if can? :crud, question %>
          <%= button_to "Delete", property_question_path(@property.id, question.id), method: :delete, form: {data: {turbo_confirm: "Are you sure?"}} %>
         <% end %> 

         
        <%= question.answers.each do |a| %>          
            <p><%= a.answer %> </p>        
            <div>Answer by: </div>
         <% end %> 

        
        <br>
      <% end %>
    </li>
  </ul>
</div>