<h1> Name: <%=@property.name%></h1>
<p> Description: <%=@property.description%></p>
<p> Location: <%=@property.location%></p>
<p> Price: <%=@property.price%></p>
<p> Amenities: <%=@property.amenities%></p>
<p> Landlord: <%=@property.user.first_name%> <%=@property.user.last_name%></p>
