<div class="container">
  <div class="show-property">
    <h2><%= @property.name %></h4>
    <p class="text-card"><span class="bold">Property Description: </span><%= @property.description %></p>
    <p class="show-text"><span class="bold">Property Listing By: </span><%= @property.user.first_name %> <%= @property.user.last_name %>
      <p class="show-text"><span class="bold">Price: </span><%= number_to_currency(@property.price) %></p>
      <p class="show-text"><span class="bold">Location: </span><%= @property.location %></p>
      <p class="show-text"><span class="bold">Amenities: </span><%= @property.amenities %></p>
      <p class="show-text"><span class="bold">Listed At: </span><%= time_ago_in_words @property.created_at %> ago</p>
      <p class="show-text"><span class="bold">Images: </span></p>
      <%= image_tag(@property.image_url, class: "index-image")%>
      <% if can? :crud, @property %>
        <div class="btn-pos">
          <%= button_to 'Edit', edit_property_path(@property), method: :get, class: 'btn btn-outline-primary btn-marg mb-4' %>
          <%= button_to 'Delete', property_path(@property), method: :delete, class: "btn btn-outline-primary btn-marg mb-4", form: {data: {turbo_confirm: "Are you sure?"}} %>
        </div>
      <% end %>
      <br>

      <hr>
      <h2 class="apply"><%= link_to "Interested in living here?  Apply at this Link 🎉", ("/properties/#{@property.id}/applications/new") %> </h2>
      <hr>
      <br>
    </div>
    <%= render 'questions/new_question' %>
    <ul>
      <% @questions.each do |question| %>
        <li>
          <!-- Question Show for Client -->
          <h3>Question</h3>
          <%= question.question %>
          <div>
            Asked by <%= question.user.first_name %> <%= time_ago_in_words(question.created_at)%> ago
          </div>
          <!-- Answer Box for Property Owner -->
          <% if can? :crud, @property %>
            <%= form_with(url: property_question_answers_path(@property.id, question.id)) do |form| %>
              <div>
                <%= form.label :answer %>
                <br>
                <%= form.text_area :answer, cols:50, rows: 2 %>
              </div>
              <%= form.submit %>
            <% end %>
          <% end %>
          <!-- Delete Button For Question Owner -->
          <% if can? :crud, question %>
            <%= button_to "Delete", property_question_path(@property.id, question.id), method: :delete, form: {data: {turbo_confirm: "Are you sure?"}} %>
          <% end %>
          <% question.answers.order(created_at: :desc).each do |answer|%>
          <blockquote class="bq">
            <li class="my-2">
            <h5>Answer</h5>
              <small>
                <%= answer.answer %>
                <div>
                  Answered by <%= answer.user.first_name %> <%= time_ago_in_words(answer.created_at)%> ago
                </div>
              </small>
            </li>
            </blockquote>
          <% end %>
          <br>
          <br>
        <% end %>
      </li>
    </ul>
  </div>
